
// Change from `box-sizing: content-box;` so that `width` not affected by `padding` or `border`.
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Body
//
// 1. Remove the margin in all browsers.
// 2. Set an explicit initial text-align value so that we can later use the `inherit` value on things like `<th>` elements.
// 3. As a best practice, apply a default `background-color`.
// 4. Prevent adjustments of font size after orientation in IE on Windows Phone and in IOS.
// 5. Change the default tap highlight to be completely transparent in IOS.
.body{
    margin: 0; // 1
    font-family: $font-family-base;
    @include font-size($font-size-base);
    font-weight: $font-weight-base;
    line-height: $font-height-base;
    color: $body-color;
    text-align: left; // 2
    background-color: $body-bg; // 3
    -webkit-text-size-adjust: 100%; // 4
    -webkit-tap-highlight-color: rgba($black, 0); // 5

}